NEXT_PUBLIC_GA_ID="UA-210303881-1"
NEXT_PUBLIC_CONNECTION_NETWORK="devnet"
NEXT_PUBLIC_SOLANA_RPC_HOST_MAINNET_BETA="https://ssc-dao.genesysgo.net/"
NEXT_PUBLIC_SOLANA_RPC_HOST_DEVNET="http://127.0.0.1:8899"

NEXT_PUBLIC_UPGRADE_PROGRAM_ID=PDBzXXEihGKUYUuJyoV4MxdbhDcRydpXMEjXhvfNE1f
NEXT_PUBLIC_UPDATE_AUTHORITY_PUB_KEY=ViVDtpVYKdhRRH9FTKsh6reJB9xXUqpX1233BSDZWRQ
NEXT_PUBLIC_NFT_CREATOR_ADDR=ViVDtpVYKdhRRH9FTKsh6reJB9xXUqpX1233BSDZWRQ
UPDATE_AUTHORITY_PK_BS58=i4FDfFrETVUApv1pmsfKJoQ1kMthYk5iAyn1z9PsaBi7RrAAHAReVs6eUv1QuwVzuLBdqwZs4AdYndKaeAip5xn